*{
	margin:0 auto;
	padding: 0;
}
#nav{
	width:100%;
	height:100px;
	position:absolute;
	top:0px;
	background: #fff;
}
div>.co_d1{
	width:1200px;
	height:100%;
}
#content{
	width:100%;
	height:800px;/*宝宝们你们的内容高度值在“各自的子页”自己设定，并将其改成"auto"*/
	position:absolute;
	top:100px;
}
#footer{
	width:100%;
	height:240px;
	position:absolute;
	top:900px;/*并设定top值在“各自的子页”大家不要弄错吆！！*/
	left:0px;
	background: #fff;
}
